h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Oswald', sans-serif;
  background-image: url("../img/pizza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.red-text, h6 {
  color: #d9534f;
}

.total-price, .order-finish, .address-form, .final-order {
  display: none;
}

label {
  font-weight: normal;
}

.sizes h4, .toppings-menu h4 {
  text-decoration: underline;
}

.sizes p, .toppings-menu p {
  text-align: center;
  font-size: 1em;
  line-height: 10px;
}
